body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
}

.tabela-adivinhacao {
    font-size: 1.5em;
    font-weight: bold;
}